@using TicketManager.Shared.ViewModels
@inject NavigationManager NavigationManager


    <div class="card border-info mb-3 ml-3" 
         style="max-width: 18rem; cursor:pointer;">
        <div class="card-header" 
             @onclick="@(()=>ShowTicket(Ticket.Id))">@Ticket.Creator
        <br />
            <small>@Ticket.CreatedOn.ToString("g")</small></div>
        <div class="card-body text-info">
            <h5 class="card-title">@Ticket.Title</h5>
            <p class="card-text">@Ticket.ShortContent</p>
        </div>
    </div>

@code {
    [Parameter]
    public TicketListItem Ticket { get; set; }

    void ShowTicket(int id)
    {
        NavigationManager.NavigateTo($"/tickets/{id}");
    }
}
